<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bupt.ltb.sem.vouching.mapper.ClassMapper" >

    <resultMap type="Class" id="singleClass">
		<id property="classId" column="c_id"/>
		<result property="className" column="c_name"/>
		<result property="isActive" column="c_isactice"/>
		<result property="bak" column="c_bak"/>
	</resultMap>

	<!-- 根据状态查询班级 -->
	<select id="findClassByStatus" parameterType="int" resultMap="singleClass">
		select
		c_id,c_name,c_isactive
		from vo_class
		where c_isactive = #{status}
	</select>
	
	<!-- 查询所有班级信息 -->
	<select id="findAllClass" resultMap="singleClass">
		select
		classid,classname,isactive
		from class
		where isactive != 9 
	</select>
	
	<!-- 修改班级状态 -->
	<update id="updateClassSatatus" parameterType="java.util.Map">
		update class
		set isactive = #{isActive}
		where classid = #{classId}
	</update>
	
	<!-- 删除一个班级 -->
	<delete id="deleteSingle" parameterType="int">
		delete from class
		where classid = #{0}
	</delete>
	
	<!-- 批量删除班级信息 -->
	<delete id="batchDelete">
		delete from class
		where classid in
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 通过班级名称查询班级信息 -->
	<select id="findCLassByName" parameterType="string" resultMap="singleClass">
		select 
		classid,classname,isactive
		from class
		where classname = #{0}
	</select>
	
	<!-- 添加班级 -->
	<insert id="addClass" parameterType="Class">
		insert into class
		(classname,bak,isactive)
		values
		(#{className},#{bak},#{isActive})
	</insert>
	
	<!-- 通过用户的角色查询班级信息 -->
	<select id="findClassByUserRole" parameterType="int" resultMap="singleClass">
		select c1.*
		from class c1
		where c1.classid not in (
			select c.classid 
			from class c, user u
			where u.role = #{0} and c.classid = u.classid
		)
	</select>
	
</mapper>